
#notification {
    width: 400px;
}

#bloglist-container{
    width: 900px;
}

#user-table {
    width: 70%;
}

#user-bloglist{
    width: 70%;
}

.blog-input {
    margin: 10px;
}

.login-input {
    width: 40%;
    margin: 10px;
}